{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_budgetposition_onemonth', {'year': year , 'monthId': month }) }}">Powrót</a>
        <h3>Szczegóły kategorii: {{ categoryName }} </h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Kwota</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
            {% for budgetPosition in budgetPositions %}
                <tr>
                    {#<td>{{  budgetPosition.date }}</td>#}
                    <td></td>
                    <td>{{ budgetPosition.title }}</td>
                    <td>{{ budgetPosition.description }} </td>
                    <td>{{ budgetPosition.price  /100 }} zł </td>
                    <td>
                        <a href="{{ path('app_category_deletecategory', {'id': 1 }) }}" class="btn btn-primary">Edytuj</a>
                        <a href="{{ path('app_category_deletecategory', {'id':  1 }) }}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td><strong>Suma: </strong></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ sum }} zł</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

