{% extends '@App/base.html.twig' %}


{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_budgetposition_selectyearget') }}">Home Budget</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('app_budgetposition_selectyearget') }}">Wybór Roku</a></li>
                    <li><a href="{{ path('app_budgetposition_onemonth', {'year': year, 'month': month}) }}">Powrót do miesiąca</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {#<a id="addCategory" class="btn btn-info" href="{{ url('app_category_addcategory', {'year': year, 'month': month}) }}">Dodaj Kategorię</a>#}
                <a id="addCategory" class="btn btn-info">Dodaj Kategorię</a>

                <div class="make_hidden">
                    {#<p>Dziala</p>#}
                    {{ render(controller('AppBundle:Category:addCategory',{ 'year': year, 'month': month })) }}
                </div>

            </div>
        </div>
        <h3>Wszystkie kategorie: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa kategorii</th>
                    <th>Typ kategorii</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody class="category_list">
                {% if categories %}
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': category.id }) }}">{{ category.name }}</a>
                            </td>
                            <td>{{ category.type }}</td>
                            <td>
                                <span data-id="{{ category.id }}" class="btn btn-primary edit">Edytuj</span>
                                <a href="{{ path('app_category_deletecategory', {'year': year, 'month': month, 'id': category.id}) }}" class="btn btn-danger delete">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

