{% extends '@App/base.html.twig' %}


{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_budgetposition_selectyearget') }}">Home Budget</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('app_budgetposition_onemonth', {'year': year, 'month': month}) }}">Powrót do miesiąca</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Twój profil</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a id="addCategory" class="btn btn-primary">Dodaj Kategorię</a>

                <div class="make_hidden">


                    <h3>Dodaj nową kategorię: </h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit" value="Dodaj">
                    {{ form_end(form) }}


                </div>
            </div>
        </div>
        <h3>Wszystkie kategorie: </h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa kategorii</th>
                <th>Typ kategorii</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody class="category_list">
            {% if categories %}
                {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': category.id }) }}">{{ category.name }}</a>
                        </td>
                        <td>{{ category.type }}</td>
                        <td>
                            <a href="{{ path('app_category_modifycategory', {'year': year, 'month': month, 'id': category.id}) }}" class="btn btn-primary">Edytuj</a>
                            <a href="{{ path('app_category_deletecategory', {'year': year, 'month': month, 'id': category.id}) }}" class="btn btn-danger">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    <script>
        $(function() {

            var catTable = $('.category_list');

            function makeOneItem(data) {
                var catId = data.success.id;

                var item = `
                <tr>
                      <td>
                         <a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': 0}) }}">${data.success.name}</a>
                      </td>
                      <td>${data.success.type}</td>
                      <td>
                         <a href="{{ path('app_category_modifycategory', {'month': month, 'year': year, 'id': 0}) }}" class="btn btn-primary edit">Edytuj</a>
                         <a href="{{ path('app_category_deletecategory', {'month': month, 'year': year, 'id': 0}) }}" class="btn btn-danger delete">Usuń</a>
                      </td>
                </tr>
            `;

                catTable.prepend(item);

                var linksToChange = catTable.children().eq(0).find('a');


                for (var i = 0; i < linksToChange.length; i++) {
                    var aHref = linksToChange.eq(i).attr('href');
                    var fixedHref = aHref.slice(0, aHref.length -1) + catId;
                    linksToChange.eq(i).attr('href', fixedHref);
                }

            }


            var form = $('.make_hidden');

            var addCat = $('#addCategory');

            addCat.on('click', function() {

                form.slideToggle();
            });

            form.on('submit', function(event) {
                event.preventDefault();

                var catName = $('#appbundle_category_name').val();
                var selectVal = $('#appbundle_category_type').val();

                var catType = $('#appbundle_category_type').find('option').eq(selectVal).text();

                if (catType === 'przychód' || catType === 'wydatek') {


                    var data = {
                        "name": catName,
                        "type": catType
                    };

                    var path = '{{ path('app_category_addcategory', {'year':year, 'month': month }) }}';

                    $.ajax({
                        url: path,
                        data: data,
                        type: "POST",
                        dataType: "json"
                    }).done(function (data) {
                        console.log('called');
                        makeOneItem(data);
                        form.slideUp();
                        $('#appbundle_category_name').val('');
                        $('#appbundle_category_type').val(0);

                    }).fail(function (xhr, status, err) {
                        console.log(xhr);
                        console.log(status);
                        console.log(err);
                    });
                }
            });
        });

    </script>
{% endblock %}

