{% extends '@App/base.html.twig' %}
{% block stylesheets %}

{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Zestawienie Dla Miesiąca {{ month | capitalize }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary" href="{{ url('app_budgetposition_addposition', {'year': year, 'month': month}) }}">Dodaj Pozycję</a>
                <a class="btn btn-info" href="{{ url('app_category_addcategory', {'year': year, 'month': month}) }}">Dodaj Kategorię</a>
                <a class="btn btn-info" href="{{ path('app_category_showcategories', {'year': year, 'month': month}) }}">Wszystkie Kategorie</a>
            </div>
        </div>
        <div class="row">
            <h3>Przychody</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Kategoria</td>
                        <td>Kwota</td>
                    </tr>
                </thead>
                <tbody>
                    {% if incomeCategories %}
                        {% for i  in 0..incomeCategories| length - 1 %}
                            <tr>
                                <td><a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': incomeCategories[i].id }) }}">{{ incomeCategories[i].name }}</a></td>
                                <td>{{ incomeCategoriesSums[i] }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td><strong>{{ totalIncome }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <h3>Wydatki</h3>
            <table class="table">
                <thead>
                <tr>
                    <td>Kategoria</td>
                    <td>Kwota</td>
                </tr>
                </thead>
                <tbody>
                    {% if costCategories %}
                        {% for i in 0..costCategories|length -1 %}
                            <tr>
                                <td><a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': costCategories[i].id }) }}">{{ costCategories[i].name }}</td>
                                <td>{{ costCategoriesSums[i] }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td><strong>{{ totalCost }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p> Całkowity przychód: {{ totalIncome }} zł </p>
                <p> Całkowite wydatki : {{ totalCost }} zł </p>
                <p> Saldo: {{ totalIncome + totalCost }} zł </p>
            </div>
        </div>
    </div>
{% endblock %}



