{% extends '@App/base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_budgetposition_selectyearget') }}">Home Budget</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('app_budgetposition_selectyearget') }}">Wybór Roku</a></li>
                    <li><a href="{{ path('app_budgetposition_showmonths', {'year': year}) }}">Wybór miesiąca</a></li>
                    <li><a href="{{ path('app_budgetposition_addposition', {'year': year, 'month': month}) }}">Dodaj Pozycję</a></li>
                    <li><a href="{{ path('app_category_showcategories', {'year': year, 'month': month}) }}">Wszystkie Kategorie</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"> </span>Twój profil</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <h1 class="text-center">Zestawienie miesiąca: {{ monthTxt | capitalize }}</h1>
            </div>
        </div>
        <div class="col-sm-11">
            <h3>Przychody</h3>
            <table class="table main">
                <thead>
                    <tr>
                        <td>Kategoria</td>
                        <td class="text-right">Kwota</td>
                    </tr>
                </thead>
                <tbody>
                    {% if incomeCategories %}
                        {% for i  in 0..incomeCategories| length - 1 %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': incomeCategories[i].id }) }}">{{ incomeCategories[i].name }}</a>
                                </td>
                                <td class="text-right">{{ incomeCategoriesSums[i] |number_format(2) }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td class="text-right"><strong>{{ totalIncome |number_format(2) }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <h3>Wydatki</h3>
            <table class="table main">
                <thead>
                <tr>
                    <td>Kategoria</td>
                    <td class="text-right">Kwota</td>
                </tr>
                </thead>
                <tbody>
                    {% if costCategories %}
                        {% for i in 0..costCategories|length -1 %}
                            <tr>
                                <td><a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': costCategories[i].id }) }}">{{ costCategories[i].name }}</td>
                                <td class="text-right">{{ costCategoriesSums[i] |number_format(2) }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td class="text-right"><strong>{{ totalCost |number_format(2) }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p class="text-right"><strong>Całkowity przychód: {{ totalIncome |number_format(2)}} zł</strong></p>
                <p class="text-right"><strong>Całkowite wydatki : {{ totalCost |number_format(2)}} zł</strong></p>
                {% if totalIncome < totalCost %}
                    <p class="text-right text-danger"><strong>Saldo: {{ (totalIncome - totalCost) |number_format(2) }}  zł</strong></p>
                {% elseif totalIncome >= totalCost %}
                    <p class="text-right text-success"><strong>Saldo: {{ (totalIncome - totalCost) |number_format(2)}} zł</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



