{% extends '@App/base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_budgetposition_selectyearget') }}">Home Budget</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('app_budgetposition_selectyearget') }}">Wybór Roku</a></li>
                    <li><a href="{{ path('app_budgetposition_showmonths', {'year': year}) }}">Wybór miesiąca</a></li>
                    <li><a href="{{ url('app_budgetposition_addposition', {'year': year, 'month': month}) }}">Dodaj Pozycję</a></li>
                    <li><a href="{{ url('app_category_addcategory', {'year': year, 'month': month}) }}">Dodaj Kategorię</a></li>
                    <li><a href="#">Wszystkie Kategorie</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Zestawienie Dla Miesiąca {{ monthTxt | capitalize }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary" href="{{ url('app_budgetposition_addposition', {'year': year, 'month': month}) }}">Dodaj Pozycję</a>
                <a class="btn btn-info" href="{{ url('app_category_addcategory', {'year': year, 'month': month}) }}">Dodaj Kategorię</a>
                <a class="btn btn-info" href="{{ path('app_category_showcategories', {'year': year, 'month': month}) }}">Wszystkie Kategorie</a>
            </div>
        </div>

        <div class="row">
            <h3>Przychody</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Kategoria</td>
                        <td>Kwota</td>
                    </tr>
                </thead>
                <tbody>
                    {% if incomeCategories %}
                        {% for i  in 0..incomeCategories| length - 1 %}
                            <tr>
                                <td><a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': incomeCategories[i].id }) }}">{{ incomeCategories[i].name }}</a></td>
                                <td>{{ incomeCategoriesSums[i] }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td><strong>{{ totalIncome }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <h3>Wydatki</h3>
            <table class="table">
                <thead>
                <tr>
                    <td>Kategoria</td>
                    <td>Kwota</td>
                </tr>
                </thead>
                <tbody>
                    {% if costCategories %}
                        {% for i in 0..costCategories|length -1 %}
                            <tr>
                                <td><a href="{{ path('app_category_categorydetails', {'month': month, 'year': year, 'categoryId': costCategories[i].id }) }}">{{ costCategories[i].name }}</td>
                                <td>{{ costCategoriesSums[i] }} zł</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><strong>Suma:</strong></td>
                        <td><strong>{{ totalCost }} zł </strong></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p> Całkowity przychód: {{ totalIncome }} zł </p>
                <p> Całkowite wydatki : {{ totalCost }} zł </p>
                <p> Saldo: {{ totalIncome + totalCost }} zł </p>
            </div>
        </div>
    </div>
{% endblock %}



